<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tiuadmin.simplysafeconusmerapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Fragments.MainActivity"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.DrawerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activity.MerchanteWebviewActivity"
            android:parentActivityName=".Merchant.MerchantActivity" />
        <activity
            android:name=".Merchant.SimpleTabsActivity"
            android:parentActivityName=".Activity.DrawerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Merchant.MerchantActivity"
            android:parentActivityName=".Activity.DrawerActivity" />
        <activity
            android:name=".Activity.UtilityActivity"
            android:parentActivityName=".Activity.DrawerActivity" />
        <activity
            android:name=".User.UserProfileActivity"
            android:parentActivityName=".Activity.DrawerActivity" />
        <activity
            android:name=".Merchant.QRCodeScanActivity"
            android:parentActivityName=".Merchant.MerchantActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".utilsApp.radio.RadioWebViewActivity"
            android:parentActivityName=".utilsApp.radio.entertainment.WebViewListsActivity" />
        <activity
            android:name=".utilsApp.radio.entertainment.WebViewListsActivity"
            android:parentActivityName=".utilsApp.radio.entertainment.EntertainmentActivity" />
        <activity android:name=".Activity.ScrollviewAnimate" />
        <activity
            android:name=".utilsApp.radio.entertainment.EntertainmentActivity"
            android:parentActivityName=".Activity.DrawerActivity" />
        <activity
            android:name=".utilsApp.radio.RewardsActivity"
            android:parentActivityName=".Activity.DrawerActivity"></activity>
    </application>

</manifest>