<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tiuadmin.simplysafeconusmerapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/usersignup"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Fragments.MainActivity"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.DrawerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activity.MerchanteWebviewActivity"
            android:parentActivityName=".Merchant.MerchantActivity" />
        <activity
            android:name=".Merchant.SimpleTabsActivity"
            android:parentActivityName=".Activity.DrawerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Merchant.MerchantActivity"
            android:parentActivityName=".Activity.DrawerActivity" />
        <activity
            android:name=".Activity.UtilityActivity"
            android:parentActivityName=".Activity.DrawerActivity" />
        <activity android:name=".User.UserProfileActivity"
            android:parentActivityName=".Activity.DrawerActivity"></activity>
        <activity android:name=".Merchant.QRCodeScanActivity"
            android:parentActivityName=".Merchant.MerchantActivity"></activity>
    </application>

</manifest>